@model ClassLibrary.Service.InstitutionModule.Models.InstitutionDetailFormVM

@{
    ViewBag.Title = "Yayasan / Lembaga";
}

<h2>Detail</h2>

<div>
    <h4>Yayasan / Lembaga | @Html.ActionLink("Edit", "EditInstitution") </h4>
    <hr />
    @if (!String.IsNullOrEmpty(ViewBag.messageInfo))
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewBag.messageInfo
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

    </dl>
</div>
<br />
<div>
    <h4>Cabang Yayasan / Lembaga | @Html.ActionLink("Tambah Data", "CreateInstitutionBranch")</h4>
    @if (!String.IsNullOrEmpty(ViewBag.messageInfoBranch))
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewBag.messageInfoBranch
        </div>
    }
    @{ Html.RenderPartial("_IndexDetailInstitutionBranch", Model.InstitutionDetailFormDetailInstitutionBranchVMs);}
</div>
